body {
    /* filter: brightness();     */
    background-image: url('./image/Maison-du-technopole-Mulhouse1.jpg');
    background-size: cover; /* pour ajuster la taille de l'image à la fenêtre du navigateur */
    background-repeat: no-repeat; /* pour éviter la répétition de l'image */
    font-family: Arial;
    background-attachment: fixed;
    backdrop-filter: blur(2px);

}

h1{
    /* background-color: #ff00809f; */
    font-size:x-large; 
    color:rgb(255, 0, 128) ;

    text-align: center;
    padding: 20px;

   
    
}
.h1{
    font-size:40px; 
    margin-top: -40px;
    text-shadow:
    1px 1px 1px rgb(255, 0, 128),
    1px 1px 1px rgb(255, 255, 255) ;
}
.h2{
  font-size:x-large; 
  color:rgb(255, 0, 128) ;

  text-align: center;
  padding: 2px;


}
h2{

 
  font-size:x-large; 
  color:rgb(255, 0, 128) ;
  text-shadow:
  1px 1px 1px rgb(255, 0, 128),
  1px 1px 1px black ;
  text-align: center;
  padding: 20px;


}
.position1{
  max-width: 50vw;
  margin-left:25vw;
  background-color: rgba(0, 0, 0, 0.192);
  border-radius: 10px;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(10px);
  margin-top: 50px;
  transition: 0.4s;
  

  
  
 
}

.position1:hover{
  box-shadow: rgba(255, 0, 128, 0.7) 0px 0px 90px;
  transition: 0.4s;
}

  .bouton7{
    display: block;
    background-color: #ff0080b7;
    border-radius: 10px;
    /* border: 4px double #000000; */
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    padding: 30px;
    width: 400px;
    margin-bottom: -1px;
    cursor: pointer;
    font-family: Arial;
    text-decoration: none;
    transition: 0.2s;
  


  
  }
  .bouton7:hover{
    /* background-color: #446cc2; */
    backdrop-filter: blur(5px);
  
    text-align: center;
    font-size: 22px; 
    box-shadow: rgba(255,255,255,0.7) 0px 0px 90px;



  }

 .bouton6{
  display: block;
  background-color: #ff0080b7;
  border-radius: 30px;
  /* border: 4px double #000000; */
  color: #ffffff;
  text-align: center;
  align-items: center;
  font-size: 28px;
  padding: 8px;
  width: 250px;
  border: none;
  margin-bottom: -1px;
  font-family: Arial;
  text-decoration: none;
  transition: 0.2s;

}
 .bouton6:hover{
  /* background-color: #446cc2; */
  background-color: rgb(0, 153, 255);
  text-align: center;
  font-size: 22px; 
  box-shadow: rgba(255,255,255,0.7) 0px 0px 90px;



}
  .link{
    text-decoration: none;
    }
  
  img {
    display: block;
    width: 17%;
    margin: auto;
    margin-top: -5vh;
    
  }
  .img1{
    position: fixed;
    margin-left: 10px;
    margin-top: -50vh;
    
    transition: transform 0.3s ease;
   
  }
  .img1:hover{
 
    transform: scale(1.1);
    /* box-shadow: #ff0080  0px 0px 20px;
    border-radius: 60px; */
  }

  .img4{
    display: block;
    width: 55%;
    margin-top: -1px;
    
  }
  .position2{
    margin-left: -1vw;
    background-color: rgba(0, 0, 0, 0.192);
    height: 100%;
    width: 91%;
    backdrop-filter: blur(10px);
    padding: 10vh;
    margin-top: -30px;
  
    
   
  }
  .position3{

    padding: 2%;

   
  }


  nav{
    /* text-shadow:
    1px 1px 1px rgb(0, 0, 0),
    1px 1px 1px rgb(255, 255, 255) ; */
    margin-top: -70px;
    margin-bottom: 20px ;
    margin-left: 80vw;

  
    
  }

  nav  ul li {  display: inline-block;  list-style: none;  }

  nav  ul ul {display:none; width:150px;position: absolute; z-index: 2; background-color: #ffffff; }
  
  
  /* nav  li {background:#ffffff; } */
  nav ul ul li a {
     /* Couleur du texte en aqua */
     color: rgb(255, 0, 106);
  }
  
  nav  a:hover {
      /* Couleur du texte en aqua */
      background-color: rgba(88, 102, 197, 0.683);
   }
  nav  li a {text-decoration: none; color: #000000; padding: 4px 0 4px; display:block; width:150px;}
  
  nav  ul {padding: 0; margin:0px; text-align:center;}
  nav  ul.niveau1 li.sousmenu:hover ul.niveau2{display:block; }
  /* nav  li:hover {background: #00aaffa4;} */
  nav  li.sousmenu:hover {background: #ffffff; }
 
header {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  padding: 1px;
  margin-top: -20px;
  margin-bottom: 30px ;
  margin-left: -10px;
  margin-right: -7px;   
  height: 120px;     


}
.img3{
  
  width: 400px;
  height : 50px;
  margin-left: 10px;
  margin-top: 60px;


  

 
}
input[type=image] {
  width: 60px;
 
}
.bouton5{
  display: flex; 
  justify-content:center; 
  align-items: center; 
  height: 100px; 
  margin-left: 10px ;
  margin-top: 90px;

}

.positionbouton6{
  display: flex; 
  justify-content:center; 
  align-items: center; 
  height: 100px; 
  margin-left: -10px ;
  margin-top: -45px;

}
.img-container i {
  margin-left: -50px;
  font-size: 25px;
  color: #ffffff; /* Couleur de l'icône */
}
.button-container {
  display: flex; /* Utilisation d'une mise en page flexbox */
  align-items: center; /* Centrez verticalement le contenu (bouton et icône) */
}

#btnScrollToTop {
  position: fixed;
  height: 100%;
  width:100px;
  top:100px;
  right: 20px;
  padding: 10 20px;
  background-color: #007bff00;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

